[commit]
	gpgsign = true
[core]
	editor = vim
[gpg]
	format = ssh
[init]
	defaultBranch = main
[diff]
	tool = vimdiff
[user]
	email = taylr.fnt@gmail.com
	name = taylrfnt
	signingkey = /home/taylor/keys/github/fujin
